/* src/App.css */
.App {
  background-color:rgb(238, 237, 236);
  outline-color:black ;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content:space-evenly;
  color: rgb(163, 222, 44);
  
  padding: 5px;
 
  ;
}
button {
  outline-color: orange;
  justify-content: space-evenly;  
  border-radius: 10px;
  background-color: rgb(91, 180, 218);
  margin: 40px;
}
.formet{
  background-color:rgb(242, 226, 206);
  outline-style: solid;
  display:flex;
  flex-direction: row;
  margin:40px;

}

.condainer3{
  justify-content: space-evenly;

}


